.saudiMap-News {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Banner{
  width:50%
}
.SadiMapImage {
  opacity: 0.09;
  height: 100%;
  width: 100%;
}
.news {
  font-size: 4rem;
}
.News-Text {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 400px;
}
.newsLogo {
  margin-top: 10px;
  height: 60px;
  width: 60px;
}

.last-News-Div {
  background-color: #002554;
  height: 60vh;
  width: 100%;
}
.divContant {
  padding: 2% 5%;
  width: 98%;
}
.Text {
  text-align: left;
  color: #002554;
}

.News-Button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  margin: 2%;
  width: 400px;
  height: 280px;
}
.LastNews-Date {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1%;
  color: white;
  border: 2px;
  border-left-style: solid;
  border-left-color: #ae1c1c;
}
.grid-View-Button {
  background-color: #ae1c1c;
  color: white;
  border: none;
  padding: 10px;
  border-right: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.list-View-Button {
  padding: 10px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
@media all and (max-width: 425px) {
  .saudiMap-News{
    flex-direction: column;
  }
 .newsLogo {
  margin-top: 20%;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}
.SadiMapImage {
  opacity: 0.09;
  height: 200%;
  width: 100%;
}
.text-Part{
  margin-top: 20%;
  flex-direction: column;
  width: 200px;
}
.news {
  font-size: 20px;
}
.bannerPragraph{
  font-size: 10px;
}
.LastNews-Date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  color: white;
  border: 2px;
  border-left-style: solid;
  border-left-color: #ae1c1c;
}
.LastNews-Date > h3 {
  font-size: 15px;
}
.LastNews-Date  h6 {
    font-size: 8px;
}
.News-Button {
  display: grid;
  justify-content:center;
  align-items: center;
}
.list-View-Button {
  margin-bottom: 10px;
}

}
