.container-NewsByCategory {
  margin: 5% 5%;
}
.NewsByCategory-Button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ViewAllNews-Button {
  background-color: #ae1c1c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
}
.categories {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1%;
}
.category {
  gap: 2%;
  color: rgba(0, 37, 84, 0.56);
}
li {
  display: inline;
  gap: 20px;
}

.Greens {
  color: #3c883b;
}
.purple {
  color: #60355e;
}
.light-green {
  color: #89966e;
}

/* ************************************************************* */
.grid-container {
  /* height: 300px; */
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  direction:rtl;
  gap: 10px;
}
.item > img {
  height: 300px;
  width: 600px;
}
.item :first-child(1) > img {
  height : 600px
}

/* ************************************************************* */
@media all and (max-width: 425px) {

  .NewsByCategory-Button {
  display: grid;
  }
.categories {
  list-style-type: none;
  margin-left: -5%;
  display: grid;
  justify-content:left;
  text-align: left;
  gap: 1%;
}
.grid-container {
  display: flex;
   flex-direction: column;
}
.item > img {
  height: 150px;
  width: 200px;
}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .grid-container {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  direction:rtl;
  gap: 10px;
}
.item > img {
  height: 200px;
  width: 300px;
}
}

