.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* font-family For All Buttons in the Web Site*/
@import url("http://fonts.cdnfonts.com/css/neo-sans-arabic");
.Buttons {
  font-family: "Neo Sans Arabic";
}

.light {
  color: rgb(0, 0, 0);
  background-color: white;
}

.dark {
  background-color: rgb(48, 47, 47);
}

.dark nav .nav-link,
.dark .linkk,
.dark .Text,
.dark .category {
  color: #ffffff;
}

.icon {
  color: black;
  font-size: 1.5rem;
}

.changeMode {
  position: absolute;
  z-index: 100;
  right: 12rem;
  top: 1.5rem;
}
@media all and (max-width: 425px) {
  .icon {
    color: black;
    font-size: 1rem;
  }
  .changeMode {
    margin-left: 110%;
    margin-bottom: -10%;
    position: relative;
    z-index: 100;
    right: 5rem;
    top: 1rem;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .changeMode {
    margin-left: 105%;
    margin-bottom: -10%;
    position: relative;
    z-index: 100;
    right: 5rem;
    top: 1rem;
  }
}
